:root {
    --white-100: #FFFFFF;
    --white-300: #FEF6E7;
    --white-500: #F0F0F0;

    --gray-100: #9F9F9F;

    --black-500: #4D4D4D;

    --orange-500: #FBB900;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    @media (max-width: 1080) {
        font-size: 93.75%; // 15px
    }
    @media (max-width: 720px) {
        font-size: 87.5%; // 14px
    }
}

body {
    font-size: 12px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    background: var(--white-100);
    color: var(--gray-100);
    -webkit-font-smoothing: antialiased;
}

img {
    object-fit: cover;
}

ul {
    list-style: none;
}

a {
    color: var(--gray-100);
    text-decoration: none;
    cursor: pointer;
}

input, textarea, button {
    font-family: 'Poppins', sans-serif;
    border: none;
    outline: none;
}

button {
    cursor: pointer;
}