:root {
    --white-100: #FFFFFF;
    --white-300: #FEF6E7;
    --white-500: #F0F0F0;
    --white-800: #E5E5E5;

    --gray-100: #9F9F9F;

    --black-500: #4D4D4D;

    --orange-500: #FBB900;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;

    @media (max-width: 1080) {
        font-size: 93.75%; // 15px
    }

    @media (max-width: 720px) {
        font-size: 87.5%; // 14px
    }
}

body {
    font-size: 12px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    background: var(--white-100);
    color: var(--gray-100);
    -webkit-font-smoothing: antialiased;
}

img {
    object-fit: cover;
}

ul {
    list-style: none;
}

a {
    color: var(--gray-100);
    text-decoration: none;
    cursor: pointer;
}

h2 {
    font-size: 32px;
    font-weight: 700;
    color: var(--black-500);
    margin-bottom: 1.5rem;
}

input,
textarea,
button {
    font-family: 'Poppins', sans-serif;
    border: none;
    outline: none;
}

button {
    height: 3rem;
    border-radius: 10px;
    border: 1px solid #F0D075;

    color: var(--white-100);
    background: var(--orange-500);
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 8%;

    text-transform: uppercase;
    transition: .3s;
    cursor: pointer;

    &:hover {
        filter: brightness(.9);
    }
}

.category,
.brands,
.products,
.signature {
    .swiper-button-next::after,
    .swiper-button-prev::after {
        font-size: 16px;
        font-weight: 900;

        color: var(--black-500);
        background: var(--white-100);
        padding: 8px 12px;
        border-radius: 50%;

        box-shadow: 0px 0px 4px rgba(179, 134, 0, 0.24);
    }
}