.blog {
    margin: 5.5rem 3.5rem;

    .mySwiper {
        padding: 0 20px 2.5rem;

        .swiper-slide {
            background: var(--white-300);
            border-radius: 20px;

            img {
                width: 100%;
                border-radius: 20px 20px 0 0;
            }

            & > div {
                padding: 1.5rem;

                h2 {
                    font-size: 20px;
                    margin-bottom: 1rem;
                }
                p {
                    font-size: 14px;
                    font-weight: 400;
                    margin-bottom: 1.5rem;
                }
                button {
                    width: 9.563rem;
                }
            }
        }
    }
}